@model List<Webshop.Project.Core.Models.CartProductModel>

@{
    ViewData["Title"] = "Cart";
    int cost = 0;
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<a href="/products"><button>Keep Shopping</button></a>
<table class="cart">
    <tr class="row" style="font-weight: bold;">
            <td class=" ">
            Product
            </td>
            <td class=" ">
            Price
             </td>
            <td class=" ">
           Number of products
             </td>
             <td class=" ">
           
             </td>

@foreach(var product in Model)
{
    <tr class="row mb-5" style="margin-bottom: 10px">
            <td class=" ">
            @(product.name) 
            </td>
            <td class=" ">
            @(product.price) $ (a piece)
             </td>
            <td class=" ">
            @(product.amount)
             </td>
            <td class=" ">
            <a class="btn btn-sm btn-danger" href="/cart/remove/@(product.cart_item_id)">X</a>
            </td>
    </tr>
        
    <br>
        cost += (product.price*product.amount);
}
</table>
       <h4 class="">Total cost of your awesome stuff: @cost $</h4>
        <br>
    


    <a type="button" class="col-md-6 p-0 btn btn-lg btn-block btn-primary" href="/checkout" style="padding-left: 0px">Proceed to Checkout</a>
    <br>
    <br>