@model List<Webshop.Models.CheckoutViewModel>

@{
    ViewData["Title"] = "Checkout";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

    <table class="col-md-6">
    <tr class="row" style="font-weight: bold;">
            <td class=" ">
            Product
            </td>
            <td class=" ">
            Price
             </td>
            <td class=" ">
           Number of products
             </td>
@foreach(var product in Model)
{
    <tr class="row mb-5" style="margin-bottom: 10px">
            <td class=" ">
            @(product.name) 
            </td>
            <td class=" ">
            @(product.price) $ (a piece)
             </td>
            <td class=" ">
            @(product.amount)
             </td>
    </tr>
}
    </table>
    <br>
    <table class="col-md-6">
    @using (Html.BeginForm())
{
    <tr>
    <td><label for="name">Name</label></td>
     <td> <input type="text" name="name" value="" required ></td>
      </tr>
    <tr>
    <td><label for="address">Address</label></td>
     <td> <input type="text" name="Address" value="" required ></td>
      </tr>
     <tr>
    <td><label for="creditcard">Creditcard</label></td>
     <td> <input type="text" name="creditcard" value="" required ></td>
      </tr>
    <tr>
        <td></td>
    <td><button class="col-md-6 p-0 btn btn-lg btn-block btn-primary" type="submit">Pay</button></td>
        </tr>
}
    </table>
